@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!-- <h3>@ViewBag.Message</h3> -->
<style>
    body {
        background-image: url('http://mobo.co.uk/wp-content/uploads/2014/11/Website-Design-Background.png');
        background-repeat: no-repeat;
        background-size: 110%;
        color: white;
    }
</style>


<body>

    <div style="clear: left;">
        <style>primf
            p {
                padding-right: 50px;
            }
        </style>

        <p style="float: left;">
            <img src="https://is.muni.cz/auth/lide/foto?fakulta=1433;studium=647429;uco=422465;typ=" height="130" width="100" border="10" alt="Face">
        </p>

        <p>
            Šimon Pavlík<br />
            FI MUNI, Brno 60300<br />
            <strong>Phone: </strong>
            123456789<br />
            <strong>E-mail:</strong> <a href="mailto:422465@mail.muni.cz" style="color: yellow">422465@mail.muni.cz</a><br />
            <strong>IS:</strong><a href="https://is.muni.cz/auth/osoba/422465" style="color: yellow"> University page </a><br />
            <br />
        </p>

    </div>
</body>